In [22]:
import sqlite3

conn = sqlite3.connect("test.db")
cur = conn.cursor()

search = """SELECT epp.emp_id, e.name, sum(epp) from epp INNER JOIN employees e ON epp.emp_id = e.emp_id WHERE e.name = 'Samantha Davis' """

cur.execute(search)
data = cur.fetchall()

print(data)

search = """PRAGMA table_info(employees)"""
cur.execute(search)
data = cur.fetchall()
print(data)

[(1761, 'Samantha Davis', 123739)]
[]